body
{
    background-color:goldenrod;
}
.container
{
    width: 350px;
    background-color:aqua;
    padding: 10px;
    margin-left:430px;
    margin-top: 25vh;
    border-radius: 5px;
}
.container > h1
{
    margin-left: 100px;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.row > input 
{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 25px;
    width: 240px;
    margin-right: 10px;
}
.row > button
{
    border-radius: 8px;
    height: 30px;
    width: 70px;
    background-color:purple;
    color:white;
    cursor: pointer;
}
button:hover{
    background-color: deeppink;
}
ul 
{
   font-size: 20px;
   padding: 12px 8px;
   cursor: pointer;
   display:flex ;
   align-items: center;
   justify-content: center;
   list-style: none;
   cursor: pointer;
   flex-direction: column;
}
ul:hover
{
    background-color:greenyellow;
}
li{
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: black;
    margin-bottom: 10px;
    border: 1px solid black;
    height: 20px;
    width: 280px;
    
}
.delbtn{
    height: 30px;
    width: 50px;
    border: 1px solid black;
}